<div class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">How We Work</h2>
                <div class="panel" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                    <div class="panel-body">
                        <p class="text-justify">We, at Urban Darzi, want you to just sit back and relax while we get your custom-fitted, custom-styled garment made for you from scratch.</p>
                        <input type="image" class="work-btn" src="assets\images\Know_More.svg" width="160" height="47" onclick="location.href='how-we-work';" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="work-image">
                    <img src="assets/images/Homepage-Asserts/rawpixel-com-358746.jpg" class="img-responsive" data-aos="fade-up" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                </div>
            </div>
        </div>
    </div>
</div>