<app-story-header></app-story-header>

<div class="wrapper">
    <!--banner-->
    <div class="container-fluid" id="our-story-banner">
        <div class="row">
            <img src="assets/images/Our-Story-Asserts/Banner.jpg" class="img-responsive banner-img">
            <div class="Howit-centered-story">'Your classic, old school Darzi, with a modern touch!'</div>
        </div>
    </div>
    <!--banner end-->
    <!--our-story-sec-one-->
    <div id="our-story-sec-two">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="work-image">
                        <img src="assets/images/Our-Story-Asserts/4.jpg" class="img-responsive" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500"
                            data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel">
                        <!-- <div class="panel-heading"> -->
                        <!-- <h2 class="title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-anchor-placement="top-bottom" -->
                        <!-- data-aos-easing="linear"><b>Lorem Ipsum</b></h2> -->
                        <!-- </div> -->
                        <div class="panel-body" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                            data-aos-easing="linear">
                            <p class="text-justify cap-letter">Urban Darzi, launched in 2018 is a bespoke clothing brand for your everyday clothing needs. Urban
                                Darzi was born from the idea of having every piece of clothing in your wardrobe, custom made
                                for you, based on your style, at prices in which you get ordinary off-the-rack clothing.</p>
                            <br>
                            <p class="text-justify">Clothing that exhibits your personality as you curate it yourselves piece by piece, fabric by
                                fabric. Clothing that is an extension of your body, carefully handcrafted to fit your body
                                structure and curvature. Clothing that makes you look good out there in the world empowering
                                you with confidence and self-belief every day.</p>
                            <br>
                            <p class="text-justify">Urban Darzi is like your classic, old school darzi, with a modern touch, bringing bespoke clothing
                                to your doorstep.</p>
                            <br>

                            <p class="text-justify">With our contemporary set of designs and high-quality fabrics, sourced from all around the world
                                along with our seasoned team of personal stylists;</p>
                            <br>
                            <p class="text-justify"> Urban Darzi is here to upgrade and revamp your wardrobe; where every piece of clothing is custom-made
                                for you, reflecting your individual personality & style statement– making you feel special
                                every time you dress up!</p>
                            <br>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--end our-story-sec-one-->

    <div id="Our-story-parallx">
        <div class="parallax-section-story">
            <div class="container text-center">
                <!-- <h1>"I WANTED CLOTHING THAT I COULDN'T FIND, SO I DECIDED TO MAKE IT."</h1> -->
            </div>
        </div>
    </div>
    <!--our-story-sec-one-->
    <div id="our-story-sec-one">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="title" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                                data-aos-easing="linear">From the Founder</h2>
                        </div>
                        <div class="panel-body" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                            data-aos-easing="linear">
                            <p class="text-justify">
                                The idea for Urban Darzi started with a lack of an overall satisfaction when buying clothes today in terms of style, fit,
                                pricing and service.
                            </p>
                            <br>
                            <p class="text-justify">Today, while shopping in high streets or in malls, the clothes available are made in a predefined
                                fit created out of a model mannequin in styles that are chosen for us by designers who do
                                not know what we like or dislike. We go after brands, that offer no after-sales service if
                                something goes wrong with the product. Moreover, we get all this at prices that make a hole
                                in our pocket for average quality. To add to all of this, we spend so much time to get that
                                one piece of clothing right either online or in malls.
                            </p>
                            <br>

                            <p class="text-justify">Urban Darzi was born out of this predicament.</p>
                            <br>
                            <p class="text-justify">With life becoming busier day-by-day, I felt there is a need for a brand
                                    that knows my style statement, my desired fit and that believes in the
                                    idea of looking good!
                            </p>
                            <br>
                            <p class="text-justify">Someone whom I can trust for creating a wardrobe that reflects me, my
                                    individual style and makes me look good, while I go about my daily life
                                    & that is how Urban Darzi came along.</p>
                            <br>
                            <p class="text-justify">I started Urban Darzi to create a paradigm shift in the way we shop for
                                    clothes today. With everyday clothing bespoke to our style and our fit,
                                    at affordable prices, why will we want to have off-the-rack regular
                                    clothes anymore?!
                            </p>
                            <br>
                            <p style="color:#ee3925">Akshit Bangar, <br>Founder, Urban Darzi</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="work-image" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                        data-aos-easing="linear">
                        <img src="assets/images/Our-Story-Asserts/2.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end our-story-sec-one-->

    <!--form-->
    <app-query-form></app-query-form>
    <!--end form-->

    <!--footer-->
    <app-footer></app-footer>
    <!--end footer-->
</div>