<app-header></app-header>
<div class="wrapper">

    <div class="enquiry-success">
        <div class="container">
            <div class="row">
                <div class="background">
                <div class="panel">
                    <div class="panel-body">
                    <div class="enquiry-success-box">
                        <i class="fa fa-3x fa-check-circle"></i>
                        <h2>Thank you.</h2>
                        <h3>We will be calling you shortly to fix an appointment.</h3>
                        <br>
                        <a href="https://www.facebook.com/urbandarzi.in/"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/urbandarzi/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>


    </div>
</div>