<div class="fashion-editorial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 hidden-xs">
                <img src="assets/images/Homepage-Asserts/Layer_25.jpg" class="img-responsive text-center work-image" data-aos="fade-up" data-aos-duration="900"
                    data-aos-delay="700" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            </div>
            <div class="col-md-5">
                <h2 class="title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                    data-aos-easing="linear">The Social Edit</h2>
                <div class="panel" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                    data-aos-easing="linear">
                    <div class="panel-body">
                        <p class="text-justify">Welcome the Urban Darzi Social Edit!</p>
                        <p class="text-justify">Come inside and take a look at what's new and exciting at Urban Darzi.</p>
                        <p class="text-justify">Get exclusive style tips from our fashion stylists, updates from our social media, celebrity editorials
                            & a lot more!</p>
                        <input type="image" class="work-btn" src="assets\images\Enter.svg" width="160" height="47" onclick="location.href='social-edit';"
                        />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>