<nav class="navbar .navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="mySidenav" class="sidenav">

            <app-menu></app-menu>
            <div class="menu-social">
                <a href="https://www.facebook.com/urbandarzi.in/">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/urbandarzi/">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <a href="">
            <img src="assets/images/logo/Logo.png" class="img-responsive text-left" id="logo">
        </a>
        <span class="menu-button" id="nav-effect" (click)="openNav()">
      <img src="assets/images/Menu.png">
    </span>
    </div>
</nav>