<div id="Urbanstory" class="Urbanstory1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="text-center">
                    <img src="assets\images\Homepage-Asserts\The_UD_Story.svg" width="300" height="170" class="text-center" data-aos="fade-up"
                        data-aos-duration="500" data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-easing="linear"
                    />
                </span>
            </div>
            <div class="col-md-4">
                <img src="assets/images/Homepage-Asserts/Layer-24.jpg" class="img-responsive middle-image" data-aos="fade-up" data-aos-duration="700"
                    data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            </div>
            <div class="col-md-4 background" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500" data-aos-anchor-placement="top-bottom"
                data-aos-easing="linear">
                <p style="text-align: justify;">Urban Darzi, launched in 2018, is the first clothing brand in India, that gets you bespoke everyday clothing.
                    <br>Urban Darzi is like your classic, old school Darzi, with a modern touch.
                </p>
                <input type="image" class="story-btn pull-left" src="assets\images\Read_More.svg" width="160" height="47" onclick="location.href='our-story';"
                />

            </div>
        </div>
    </div>
</div>