<app-header></app-header>

<div class="wrapper">
  <div class="container-fluid" id="main">
    <div class="row">
      <div id="navbar-header-left" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="400" data-aos-anchor-placement="top-bottom"
        data-aos-easing="linear">
        <img src="assets/images/banner/1.jpg" class="center-block" width="680" height="800">
      </div>
      <div id="navbar-header-right">
        <img src="assets/images/banner/3.jpg" id="right-banner" class="center-block banner-right-image wow fadeIn" data-wow-duration="4000ms"
          data-wow-delay="1000ms">
        <p class="sub-title">Everyday Bespoke Clothing</p>
      </div>
    </div>
  </div>

  <!-- story -->
  <app-story></app-story>
  <!-- end story -->

  <div id="section-one">
    <div class="parallax-section-one">
      <div class="container text-center">
        <!-- <h1>"Vivamus non diam commodo, gravida mi quismetus"</h1> -->
      </div>
    </div>
  </div>

  <!--how it works-->
  <app-how-it-works-block></app-how-it-works-block>
  <!--end how it works-->

  <div class="clearfix"></div>

  <div class="parallax-section-two">
    <!-- <h2 class="text-center">"EVERYDAY BESPOKE CLOTHING"</h2> -->
  </div>

  <!--fashion editorial-->
  <app-fashion-editorial></app-fashion-editorial>
  <!--end fashion editorial-->

  <!--form-->

  <app-query-form></app-query-form>
  <!--end form-->


  <!--footer-->
  <app-footer></app-footer>
  <!--end footer-->
</div>