<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
        <ul>
          <li>
            <a href=""><span>Home</span></a>
          </li>
          <li>
            <a href="our-story"><span>Our Story</span></a>
          </li>
          <li>
            <a href="how-we-work"><span>How We Work</span></a>
          </li>
          <li>
            <a href="social-edit"><span>Social Edit</span></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-right" >
        <address class="address wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
          <p>Kanpur, India</p>
          <p>+91-9936336111</p>
          <p>info@urbandarzi.in</p>
        </address>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <div class="social">
          <a href="https://www.facebook.com/urbandarzi.in/">
            <img src="assets\images\Social-Icon\Facebook.png" class="wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          </a>
          <a href="https://www.instagram.com/urbandarzi/">
            <img src="assets\images\Social-Icon\Instagram.png" class="wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="600ms">
          </a>
        </div>
      </div>
      <div class="col-md-6 text-right wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="copyright-text">
          <img src="assets/images/logo/Logo.png" width="100" />
          <p>Copyright @ 2018
        </div>
      </div>
    </div>
  </div>
</div>