@import '~swiper/dist/css/swiper.min.css';

@font-face {
    font-family: 'DIN';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('DIN'), url('assets/fonts/DINR____.woff');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Nimbus';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('Nimbus'), url('assets/fonts/NimbusSanL-Reg.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('Roboto'), url('https://fonts.googleapis.com/css?family=Roboto');
    font-style: normal;
}
@font-face {
    font-family: 'IBM_Plex_Sans';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('IBM_Plex_Sans'), url('assets/fonts/Fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
    font-style: normal;
    font-weight: lighter;
}
@font-face {
    font-family: 'Puritan-Regular';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('Puritan-Regular'), url('assets/fonts/Fonts/Puritan/Puritan-Regular.ttf');
    font-style: normal;
    font-weight: lighter;
}
@font-face {
    font-family: 'BarlowSemiCondensed';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('BarlowSemiCondensed'), url('assets/fonts/Fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
    font-style: normal;
    font-weight: lighter;
}


@font-face {
    font-family: 'Oswald';
    /* src: url('assets/fonts/DIN-Regular.ttf');   */
    src: local('Oswald'), url('assets/fonts/Oswald-Regular.ttf');
    font-style: normal;
}

html,
body {
    background-color: #082340;
    font-size: 18px!important;
    font-family: 'BarlowSemiCondensed', sans-serif;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  */
    letter-spacing: 0px;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: antialiased!important;
    -o-font-smoothing: antialiased!important;
    /* font-smoothing: antialiased!important; */
}


/* input,select,textarea{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} */

h1,
h2,
h3,
h4 {
    color: #ee3925;
}

p {
    color: #d1d1d1;
    font-size: 18px;
}

.clearfix {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title {
    /* text-transform: capitalize; */
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    display: inline-block;
}


/* .title:after {
    content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:10px auto;
    width:50%;
    height:1px;
    background:#ee3925;
} */

.form .title {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#navbar-header-left {
    top: 0;
    left: 0;
    height: 772px;
    float: left;
    width: 50%;
    background-color: #082340;
}

#navbar-header-right {
    top: 0;
    left: 50%;
    height: 772px;
    width: 50%;
    float: left;
    background-color: #082340;
}

#logo {
    position: absolute;
    left: 41%;
}

#our-story-logo {
    position: absolute;
    left: 50%;
}

@media (max-width: 990px) {
    #navbar-header-left {
        top: 0;
        left: 0;
        height: auto;
        float: left;
        width: 100%;
        background-color: #082340;
    }
    #navbar-header-left img {
        height: 668px;
        width: 550px;
        margin-left: -20vw;
    }
    #logo {
        position: absolute;
        left: 15%;
    }
    #our-story-logo {
        position: absolute;
        left: 15%;
    }
    #navbar-header-right {
        display: none;
    }
    .contact-form .title {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
}

#navbar-header-right .banner-right-image {
    margin-top: 30vh;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #082340;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    text-align: center;
}

.sidenav .links {
    margin-top: 5vh;
    margin-right: 1vw;
}

.sidenav a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 40px;
    color: #ee3825;
    display: block;
    font-weight: normal;
    transition: 0.4s;
}

.sidenav a:hover {
    color: #fff;
}
.menu-social {
    margin-top: 10vh;
}
.menu-social a {
    display: inline-block;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.fa-facebook {
    padding: 8px 10px;
    border: 1px solid #ee3825;
}

.fa-instagram {
    padding: 8px 8px;
    border: 1px solid #ee3825;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
}

#main {
    transition: .5s;
    z-index: 1;
    background-color: #082340;
}

@media screen and (max-width: 750px) {
    .sidenav {
        padding-top: 12vh;
    }
    .sidenav a {
        font-size: 35px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.menu-button {
    position: absolute;
    top: 15px;
    right: 23px;
    font-size: 30px;
    cursor: pointer;
    float: right;
    color: #ee3825;
}

@media (min-width: 768px) {
    .contact-form .container {
        margin-top: 20px;
        max-width: 870px;
        padding-left: 0px!important;
        transition: box-shadow .3s;
        box-shadow: 0px 0px 20px #00000054;
        border: none!important;
        position: relative;
        background: #fff;
        top: 23px;
    }
}

.wrapper row {
    position: relative;
}


/*--Urban Story Section--*/

#Urbanstory .background {
    background-color: #082340;
    border: 1px solid #ee3925;
    right: 6vw;
    bottom: 20vh;
}

#Urbanstory .middle-image {
    margin-left: 4vw;
}

#Urbanstory .row {
    margin-top: 40vh;
    margin-bottom: 30vh;
}

#Urbanstory p {
    margin: 60px 16px 77px 24px;
}

.story-btn {
    position: absolute;
    background-color: #ee3925;
    right: 2vw;
    bottom: -3vh;
    z-index: 1;
    color: #082340;
    font-size: 20px;
    border-radius: 0;
}

@media (max-width: 990px) {
    #Urbanstory .background {
        background-color: #082340;
        color: #fff;
        width: 80%!important;
        position: static;
    }
    #Urbanstory p {
        margin: 20px 7px 40px 7px;
    }
    #Urbanstory .row {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    #Urbanstory .middle-image {
        margin-left: 6vw;
        margin-bottom: 8vh;
        margin-top: 8vh;
    }
    #Urbanstory .main-title {
        left: 5%;
    }
    #Urbanstory .background {
        margin-left: 10vw;
        margin-top: 12vh;
        margin-bottom: 12vh;
    }
}

.main-title {
    text-transform: capitalize;
    font-size: 3.5rem;
    color: #ee3925;
    margin-top: 5rem;
    margin-bottom: 8rem;
    margin-left: 4vw;
    position: relative;
    display: inline-block;
}


/* .main-title:after {
    content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:10px auto;
    width:50%;
    height:1px;
    background:#ee3925;
} */


/*--End Urban Story Section--*/

#section-one h1 {
    color: #fff;
    vertical-align: middle;
    margin: auto;
    margin-top: 30%;
}

@media (max-width: 990px) {
    #Urbanstory .main-title {
        width: 230px;
        left: 16vw;
        ;
    }
    #section-one h1 {
        color: #fff;
        vertical-align: middle;
        margin: auto;
        margin-top: 50%;
    }
    .main-title {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.parallax-section-one {
    /* The image used */
    background-image: url("assets/images/Extra_Section_1.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .parallax-section-one {
        background-attachment: scroll;
    }
}


/*--How It Works end--*/

.parallax-section-two {
    /* The image used */
    background-image: url("assets\images\Homepage-Asserts\igor-ovsyannykov-254180.jpg");
    min-height: 400px;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-section-two h2 {
    color: #fff;
    padding-top: 150px;
    font-size: 55px;
}

@media only screen and (max-width: 750px) {
    .parallax-section-two {
        display: none;
    }
    .parallax-section-two h2 {
        padding-top: 110px;
    }
}


/*--fashion editorial--*/

.fashion-editorial .panel {
    color: #fff;
    border: none;
    margin-left: -6vw;
    margin-right: 5vw;
    border-radius: 0;
    background-color: #082340;
    color: #fff;
    position: absolute;
    z-index: 1;
    border: 1px solid #ee3925;
}

.fashion-editorial .title {
    /* text-transform: capitalize; */
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
}


/* .fashion-editorial .title:after {
    content:'';
    position:absolute;
    left:-12vw; right:0;
    top:100%;
    margin:10px auto;
    width:50%;
    height:1px;
    background:#ee3925;
} */

.fashion-editorial .panel-body {
    color: #fff;
    padding: 58px 60px 67px 56px;
}

.fashion-editorial .work-btn {
    position: absolute;
    right: 3vw;
    bottom: -3vh;
    margin-top: 40px;
}

.work-image {
    margin-top: -100px;
}

.banner-img {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 990px) {
    .fashion-editorial .panel {
        height: auto;
        width: 80%!important;
        margin-left: 8vw;
        margin-bottom: 5vh;
        z-index: 0;
        position: relative;
    }
    .fashion-editorial .title {
        color: #fff;
        font-size: 52px;
        margin-top: 0vh;
        margin-bottom: 12vh;
        text-align: center;
    }
    .fashion-editorial .panel-body {
        background-color: #082340;
        color: #fff;
        padding: 20px 16px 30px 16px;
        ;
    }
    /* .fashion-editorial .title:after {
        content:'';
        left: 0; top:0;
        top:100%;
        margin:10px auto;
        width:80%;
        height:1px;
        background:#ee3925;
    } */
    .fashion-editorial .work-image {
        margin-top: 12vh;
    }
    .clearfix {
        margin-top: 0rem;
        margin-bottom: -0.8rem;
    }
    .banner-img {
        max-width: 100%;
        width: 100%;
        height: 100vh;
    }
}


/*--how it works end--*/


/*--How it works--*/

.how-it-works .panel {
    border: none;
    margin-left: 4vw;
    border-radius: 0;
    margin-right: -5vw;
    background-color: #082340;
    color: #fff;
    position: absolute;
    z-index: 1;
    border: 1px solid #ee3925;
}

.how-it-works .title {
    /* text-transform: capitalize; */
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 12rem;
    margin-bottom: 7rem;
    position: relative;
    left: 7vw;
    display: inline-block;
}


/* .how-it-works .title:after {
    content:'';
    position:absolute;
    left:-12vw; right:0;
    top:100%;
    margin:10px auto;
    width:50%;
    height:1px;
    background:#ee3925;
} */

.how-it-works .panel-body {
    color: #fff;
    padding: 60px 50px 77px 50px;
    margin-right: 1vw;
}

.how-it-works .work-btn {
    position: absolute;
    right: 5vw;
    bottom: -3vh;
    margin-top: 40px;
}

.work-image {
    margin-top: -100px;
}

@media (max-width: 990px) {
    .how-it-works .panel {
        height: auto;
        margin-left: 9vw;
        margin-bottom: 13vh;
        width: 80%!important;
        z-index: 0;
        position: relative;
    }
    .how-it-works .title {
        font-size: 55px;
        margin-top: 11vh;
        margin-bottom: 11vh;
        text-align: center;
        left: 2vw;
    }
    .how-it-works .panel-body {
        background-color: #082340;
        padding: 20px 16px 30px 16px;
        top: 0;
    }
    .how-it-works .work-image {
        margin-top: 0;
        margin-bottom: 12vh;
    }
    /* .how-it-works .title:after {
        content:'';
        left: 0; top:0;
        top:100%;
        margin:10px auto;
        width:80%;
        height:1px;
        background:#ee3925;
    } */
}


/*--how it works end--*/

.query-form {
    background-image: url('./assets/images/Form-Asserts/bg.jpg');
    width: 100%;
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.query-form .panel {
    background: #082340;
    width: 35%;
    height: auto;
    margin-left: 15vw;
    border-radius: 0;
    margin-top: 5vh;
}

.query-form .panel h1 {
    color: #d1d1d1;
    margin-left: 2vw;
}

.query-form .panel .form-control {
    margin-bottom: 22px!important;
    border: 1px solid #e93925;
    background: #082340;
    border-radius: 0;
    width: 95%;
    padding: 24px -1px;
}

.query-form span {
    color: #d1d1d1;
}

.query-form .panel input.form-control {
    color: #d1d1d1!important;
}

.query-form .panel .form-btn {
    position: relative;
    background-color: #d1d1d1;
    left: 14vw;
    top: 10vh;
    color: #082340;
    border-radius: 0;
}
@media screen and (max-width: 1500px) and (min-width: 1370px)  {
    .query-form .panel .form-btn {
        position: relative;
        background-color: #d1d1d1;
        left: 14vw;
        top: 8vh;
        color: #082340;
        border-radius: 0;
    }
}


@media only screen and (max-width: 600px) {
    .query-form .panel {
        background: #082340;
        width: 100%;
        height: auto;
        margin-left: 0vw;
    }
    .query-form .panel .form-btn {
        position: relative;
        background-color: #d1d1d1;
        left: 35vw;
        color: #082340;
        border-radius: 0;
    }
}

.form-hr {
    margin-top: -5vh;
    border: 0;
    width: 100%;
    border-top: 1px solid #e93925!important;
}

.form-input {
    float: left;
    border: 1px solid #000;
    border-radius: 0;
    color: #333!important;
    width: 90%;
    margin-bottom: 5vh;
    padding: 7px;
}


.footer {
    font-size: 17px;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #082340;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer ul {
    list-style-type: none;
    line-height: 2;
    padding-left: 0!important;
}

.footer ul a {
    text-decoration: none;
    color: #d1d1d1;
    display: block;
}

.social {
    margin-top: 20px;
}

.social a {
    margin-right: 10px;
    text-decoration: none;
}

.address p {
    font-size: 18px;
    font-weight: normal!important;
    /* font-family: 'DIN'!important; */
}

@media (max-width: 990px) {
    .footer {
        font-size: 14px;
    }
    .footer ul a {
        text-decoration: none;
        color: #d1d1d1;
    }
    .footer .col-md-6 {
        text-align: center;
    }
    .copyright-text {
        margin-top: 2vh;
    }
    .address p {
        font-size: 14px;
    }
    .address {
        margin-top: 5vh;
    }
}

.sub-title {
    font-size: 24px;
    color: #d1d1d1;
    text-align: center;
    margin-top: 20px;
}


/*--Our story page--*/


/*--Our story page--*/


/*--Our story page--*/

#our-story-banner {
    position: relative;
}

.our-story-overlay1 {
    position: absolute;
    top: 35%;
    left: 35%;
}

.our-story-overlay2 {
    position: absolute;
    top: 35%;
    left: 67%;
}

#our-story-banner p {
    font-size: 14px;
    padding: 0px 12px;
}

.story-logo {
    margin-left: 100px;
}

@media screen and (max-width: 990px) {
    #our-story-banner p {
        position: absolute;
        top: -30vh;
        left: 0;
    }
    .story-logo {
        margin-left: 0px!important;
    }
}


/*--Our Story Section One--*/

#our-story-sec-one .panel {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #082340;
}

#our-story-sec-one .panel-heading h2 {
    text-transform: capitalize;
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#our-story-sec-one .title:after {
    content: '';
    position: absolute;
    left: -12vw;
    right: 0;
    top: 100%;
    margin: 25px auto;
    width: 56%;
    height: 1px;
    background: #ee3925;
}

#our-story-sec-one .panel-heading {
    padding: 0px 0px!important;
}

#our-story-sec-one .panel-body {
    color: #fff;
    padding: 26px 50px 80px 0px;
}

#our-story-sec-one .work-btn {
    position: absolute;
    background-color: #ee3925;
    right: 7vw;
    bottom: -4vh;
    color: #000;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 0;
    margin-top: 40px;
}

#our-story-sec-one .work-image {
    margin-top: -100px;
}

@media (max-width: 990px) {
    #our-story-sec-one .panel {
        height: auto;
        width: auto;
        margin-right: 15px;
        margin-left: 15px;
        z-index: 0;
        position: relative;
    }
    #our-story-sec-one .panel-heading h2 {
        text-transform: capitalize;
        font-size: 55px;
        color: #ee3925!important;
        margin-top: 8vh;
        margin-bottom: 12vh;
        margin-left: -8vw;
    }
    #our-story-sec-one .panel-body {
        background-color: #082340;
        padding: 10px 30px 0px 30px;
    }
    #our-story-sec-one .panel-heading {
        padding: 0px 60px!important;
    }
    #our-story-sec-one .panel .title:after {
        content: '';
        right: 17vw;
        top: 100%;
        margin: 10px auto;
        width: 50%;
        height: 1px;
        background: #ee3925;
    }
    #our-story-sec-one .work-image {
        margin-top: 7vh!important;
        margin-bottom: 12vh;
    }
}

#our-story-sec-two .panel {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #082340;
}

#our-story-sec-two .panel-heading h2 {
    text-transform: capitalize;
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#our-story-sec-two .title:after {
    content: '';
    position: absolute;
    left: -9vw;
    right: 0;
    top: 100%;
    margin: 25px auto;
    width: 56%;
    height: 1px;
    background: #ee3925;
}

#our-story-sec-two .panel-heading {
    padding: 0px 0px!important;
}

#our-story-sec-two .panel-body {
    color: #fff;
    padding: 26px 50px 80px 0px;
}

#our-story-sec-two .work-btn {
    position: absolute;
    background-color: #ee3925;
    right: 7vw;
    bottom: -4vh;
    color: #000;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 0;
    margin-top: 40px;
}

#our-story-sec-two .work-image {
    margin-top: -100px;
}

@media (max-width: 990px) {
    #our-story-sec-two .panel {
        height: auto;
        width: auto;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 0px;
        z-index: 0;
        position: relative;
    }
    #our-story-sec-two .panel-heading h2 {
        text-transform: capitalize;
        font-size: 55px;
        color: #ee3925!important;
        margin-top: 12vh;
        margin-bottom: 12vh;
        margin-left: 6vw;
    }
    #our-story-sec-two .panel-body {
        background-color: #082340;
        color: #fff;
        padding: 10px 30px 0px 30px;
        margin-bottom: -1vh;
    }
    #our-story-sec-two .panel-heading {
        padding: 0px 0px!important;
    }
    #our-story-sec-two .panel .title:after {
        content: '';
        right: 16vw;
        top: 100%;
        margin: 10px auto;
        width: 50%;
        height: 1px;
        background: #ee3925;
    }
    #our-story-sec-two .work-image {
        margin-top: 6vh;
    }
}


/*--parallax effect--*/

#Our-story-parallx h1 {
    color: #082340;
    font-size: 55px;
    vertical-align: middle;
    margin: auto;
    margin-top: 20%;
}

@media (max-width: 990px) {
    #Our-story-parallx {
        margin-bottom: 5vh;
    }
    #Our-story-parallx h1 {
        color: #082340;
        vertical-align: middle;
        margin: auto;
        margin-top: 40%;
    }
}

.parallax-section-story {
    /* The image used */
    background-image: url("assets/images/Our-Story-Asserts/3.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .parallax-section-story {
        background-attachment: scroll;
    }
}


/*--How it Works page--*/


/*--How it Works page--*/


/*--How it Works page--*/

.Howit-centered-work {
    font-size: 45px;
    color: #d1d1d1;
    font-weight: normal;
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-0%, -50%);
}

.Howit-centered-story {
    text-align: center;
    font-size: 45px;
    color: #d1d1d1;
    font-weight: normal;
    position: absolute;
    top: 47%;
    left: 20%;
    transform: translate(-0%, -50%);
}

.ud-visit {
    margin-left: 9vw;
    margin-top: 0vh;
}

.howit-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 50%;
    border-top: 1px solid #e93925!important;
}

#howit-sec-one .panel {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #082340;
}

#howit-sec-one .panel-heading h2 {
    text-transform: capitalize;
    font-size: 55px;
    color: #ee3925!important;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 5vw;
}

#howit-sec-one .title:after {
    content: '';
    position: absolute;
    left: -12vw;
    right: 0;
    top: 100%;
    margin: 10px auto;
    width: 50%;
    height: 1px;
    background: #ee3925;
}

#howit-sec-one .panel-heading {
    padding: 0px 0px!important;
}

#howit-sec-one .panel-body {
    color: #fff;
    padding: 26px 50px 80px 0px;
}

#howit-sec-one .work-btn {
    position: absolute;
    background-color: #ee3925;
    right: 7vw;
    bottom: -4vh;
    color: #000;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 0;
    margin-top: 40px;
}

.work-image {
    margin-top: -100px;
}

p.cap-letter::first-letter {
    font-size: 10vh;
    color: #e93925;
}

@media (max-width: 990px) {
    #howit-sec-one .panel {
        height: auto;
        width: 80%;
        margin-right: 25px;
        margin-left: 25px;
        z-index: 0;
        position: relative;
    }
    #howit-sec-one .panel-heading h2 {
        text-transform: capitalize;
        font-size: 55px;
        color: #ee3925!important;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    #howit-sec-one .panel-body {
        background-color: #082340;
        color: #fff;
        padding: 15px 30px 30px 30px;
    }
    #howit-sec-one .panel-heading {
        padding: 0px 0px!important;
    }
    #howit-sec-one .panel .title:after {
        content: '';
        left: 0;
        top: 0;
        top: 100%;
        margin: 10px auto;
        width: 80%;
        height: 1px;
        background: #ee3925;
    }
    #howit-sec-one .work-image {
        margin-top: 12vh;
    }
    .ud-visit {
        margin-left: 9vw;
        margin-top: 0;
        margin-bottom: 12vh;
    }
}

#howit-sec-two {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#howit-sec-two h2 {
    font-size: 55px;
    margin-left: 6vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#howit-sec-two .panel {
    background-color: #082340;
    border: 1px solid #ee3925;
    position: absolute;
    z-index: 1;
    border-radius: 0;
    margin-right: 3vw;
    margin-left: -10vw;
}

#howit-sec-two .panel-body {
    padding: 20px 47px;
}

@media (max-width: 1020px) {
    #howit-sec-two {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    #howit-sec-two .panel {
        height: auto;
        width: 80%;
        margin-right: 25px;
        margin-left: 25px;
        z-index: 0;
        position: relative;
    }
    #howit-sec-two .panel-body {
        padding: 20px 20px;
    }
    .Howit-centered-work {
        font-size: 45px;
        color: #d1d1d1;
        position: absolute;
        line-height: 40px;
        top: 50%;
        left: 15%;
        transform: translate(-0%, -30%);
    }
    .Howit-centered-story {
        font-size: 35px;
        color: #d1d1d1;
        position: absolute;
        line-height: 40px;
        top: 50%;
        left: 3%;
        right: 2%;
        transform: translate(-0%, -30%);
    }
}

#howit-sec-three {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#howit-sec-three h2 {
    font-size: 55px;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#howit-sec-three .panel {
    background-color: #082340;
    border: 1px solid #ee3925;
    position: absolute;
    z-index: 1;
    border-radius: 0;
    margin-right: -10vw;
}

#howit-sec-three .panel-body {
    padding: 20px 47px;
}

@media (max-width: 990px) {
    #howit-sec-three {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    #howit-sec-three .panel {
        width: 80%;
        margin-right: 25px;
        margin-left: 25px;
        z-index: 0;
        position: relative;
    }
    #howit-sec-three .panel-body {
        padding: 20px 20px;
    }
}


/*--parallax effect--*/

#howit-parallx {
    margin-bottom: 12vh;
    margin-top: 11vh;
}

#howit-parallx h1 {
    color: #ee3925;
    font-size: 55px;
    vertical-align: middle;
    margin: auto;
    margin-top: 20%;
}

@media (max-width: 990px) {
    #howit-parallx h1 {
        color: #ee3925;
        vertical-align: middle;
        margin: auto;
        margin-top: 40%;
    }
}

.parallax-section-howit {
    /* The image used */
    background-image: url("assets\images\How-It-Works-Page-Asserts\d-ng-tr-n-qu-c-104958-unsplash.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1000px) {
    .parallax-section-howit {
        background-attachment: scroll;
    }
}


/*--BLOG PAGE--*/

#blog {
    position: relative;
    margin: 0;
    padding: 0;
}

#blog-left {
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

#blog-left .blog-overlay {
    position: absolute;
    bottom: 10%;
    text-align: center;
    left: 15%;
    right: 15%;
    color: #fff!important;
}

#blog-left .blog-overlay i {
    color: #e93925;
    margin-left: 10px;
}

#blog-left .blog-overlay h2 {
    color: #fff!important;
}

#blog-left .carousel-control {
    margin-top: -95px!important;
    opacity: 1.0;
}

.carousel-control .glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: #082340;
}

#blog-right {
    margin-left: 52%;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#blog-right .panel-left {
    position: relative;
    display: block;
    font-size: 24px;
    top: 10vh;
}

#blog-right .panel-left a {
    text-decoration: none;
}

#blog-right .panel-left hr {
    border-top: 1px solid #d1d1d1;
    width: 30%;
    text-align: left;
}

#blog-right .panel-right {
    position: relative;
    font-size: 24px;
    display: block;
    top: 15vh;
}

#blog-right .panel-right a {
    text-decoration: none;
}

#blog-right .panel-right hr {
    border-top: 1px solid #d1d1d1;
    width: 30%;
    text-align: left;
}

.blog-detail h2 {
    font-size: 56px;
}

.blog-detail .sub-head {
    /* color: #d1d1d1!important; */
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5vh;
}

.blog-detail i {
    border: solid #d1d1d1;
    opacity: 0.6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.blog-detail .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (max-width: 990px) {
    #blog-left {
        width: 100%;
        position: relative;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
    }
    #blog-right {
        width: 100%;
        margin-left: 0%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #blog-right .panel-left {
        position: relative;
        top: 0;
    }
    #blog-right .panel-right {
        top: 0;
    }
    .res-padd {
        margin-top: 5vh;
    }
    .blog-detail .scroll-btn {
        display: none;
    }
    .blog-detail i {
        display: none;
    }
    #blog-left .blog-overlay {
        position: absolute;
        bottom: 5%;
        text-align: center;
        left: 15%;
        right: 15%;
        color: #fff!important;
    }
}


/* Blog-Detail Page */

#blog-detail {
    position: relative;
    margin: 0;
    padding: 0;
}

#blog-detail-left {
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

#blog-detail-left .blog-overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 15%;
    right: 15%;
    color: #fff!important;
}

#blog-detail-left .blog-overlay h2 {
    color: #fff!important;
}

#blog-detail-right {
    margin-left: 52%;
    margin-top: 2vh;
    margin-bottom: 20vh;
}

#blog-detail-right .fshn-name {
    margin-bottom: 20vh;
    color: #e93925;
}

#blog-detail-right .panel-left {
    position: absolute;
    background-color: #082340;
    border: 1px solid #ee3925;
    color: #d1d1d1;
    font-size: 24px;
    top: 10vh;
    border-radius: 0;
    width: 100%;
    right: 6vw;
    padding: 40px 10px;
}

#blog-detail-right .panel-left .blog-btn {
    position: absolute;
    right: 2vw;
    bottom: -2vh;
}

#blog-detail-right .panel-right {
    position: absolute;
    background-color: #082340;
    border: 1px solid #ee3925;
    color: #d1d1d1;
    font-size: 24px;
    top: 15vh;
    z-index: 1;
    border-radius: 0;
    width: 100%;
    left: 3vw;
    padding: 40px 10px;
}

#blog-detail-right .panel-right .blog-btn {
    position: absolute;
    right: 2vw;
    bottom: -2vh;
}

.order-list {
    text-align: justify;
    color: #d1d1d1;
    font-weight: bold;
}

.unorder-list {
    text-align: justify;
    color: #d1d1d1;
    font-weight: bold;
}

@media (max-width: 990px) {
    #blog-detail-left {
        width: 100%;
        position: relative;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
    }
    #blog-detail-right {
        margin-left: 0;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #blog-detail-right .panel-left {
        position: absolute;
        top: -26vh;
        left: -42vw;
        padding: 0px 10px;
    }
    #blog-detail-right .panel-left .blog-btn {
        position: relative;
        top: 3vh;
        left: 5vw;
    }
    #blog-detail-right .panel-right {
        position: absolute;
        margin-top: 5vh;
        top: 0px;
        left: -42vw;
        padding: 0px 10px;
        width: 100%;
    }
    #blog-detail-right .panel-right .blog-btn {
        position: relative;
        top: 3vh;
        left: 16vw;
    }
    #blog-detail-right .row {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .blog-detail p {
        margin-right: 0vw;
    }
    .order-list li {
        width: 90%!important;
        text-align: justify;
    }
    .unorder-list li {
        width: 90%!important;
        text-align: justify;
    }
    #blog-detail-right .fshn-name {
        margin-bottom: 0vh;
    }
}
